*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p {
    cursor: default;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #ebebeb;
}

body::-webkit-scrollbar {
    width: 0.8em;
}

body::-webkit-scrollbar-thumb {
    background: #989da3ca;
    border-radius: 0.3em;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url('../asset/Dogs_4_Husky_Puppy_Grass_552048_1280x853.jpg');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 95%;
    max-width: 85%;
    margin: 1em auto;
    /* outline: 1px solid silver; */
    border-radius: 0.5em;
    background-attachment: fixed;
    box-shadow: 0 0 2px silver;
    overflow: hidden;
}

main section:nth-child(1) {
    background: transparent;
    backdrop-filter: brightness(38%);
    flex-shrink: 0;
    flex-grow: 2;
    color: #fff;
}

#propy {
    text-align: left;
    margin: 0 auto;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#propy p {
    display: flex;
    flex-direction: row;
    cursor: default;
    gap: 1em;
}

#propy p u {
    text-underline-offset: 5px;
    cursor: default;
}

#Description {
    background: #00000072;
    width: 40vw;
    padding: 1em;
    margin: 0 auto;
    border-radius: 0.2em;
    line-height: 2em;
}

main section:nth-child(1) article {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 4em;
}

main section:nth-child(1) article p {
    word-break: keep-all;
    word-wrap: break-word;
}

main section:nth-child(1) article img {
    width: 50%;
    height: auto;
}

main section:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 1.6em;
    padding-top: 2em !important;
    padding: 4em;
    background: #fff;
}

main section:nth-child(2) article:nth-child(1) {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#Title {
    font-weight: 600;
    font-size: 3em;
}

#desc {
    font-size: 0.9em;
}

#icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    border-top: 2px solid #fff;
    padding-top: 2.2em;
    width: 30vw;
    margin: 0.8em auto;
}

#icon i {
    font-size: 1.5em;
    background: #00000072;
    border-radius: 50%;
    padding: 0.3em;
    padding-inline: 0.5em;
    padding-bottom: 0.4em;
    cursor: pointer;
    transition: background 0.1s;
}

#icon i:hover {
    background: #000000a0;
}

#icon i:active {
    outline: 2px solid #fff;
}

main section:nth-child(2) article:nth-child(2) form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

main section:nth-child(2) article:nth-child(2) form span {
    background: #d2dce782;
    width: max-content;
    display: flex;
    flex-direction: row;
    border-radius: 0.3em;
    align-items: center;
}

main section:nth-child(2) article:nth-child(2) form span i {
    font-size: 1.2em;
    /* display: flex;
    flex-direction: column;
    gap: 0; */
    margin: 0.8em;
    color: #18212b;
}

/* main section:nth-child(2) article:nth-child(2) form span i i{
    font-size: 1em;
    margin-left: 1;
    margin-top: -4em;
    margin: 0;
} */
main section:nth-child(2) article:nth-child(2) form input {
    padding: 1em;
    border: none;
    outline: none;
    background: none;
    border-left: 1px solid silver;
    width: 24vw;
}



main section:nth-child(2) article:nth-child(2) form input[type='submit'] {
    background: #303f50;
    border-radius: 0.3em;
    text-transform: uppercase;
    color: #fff;
    width: 27.7vw !important;
    cursor: pointer;
    padding: 1.3em;
    transition: 0.1s;
}

main section:nth-child(2) article:nth-child(2) form input[type='submit']:hover {
    background: #243343;
}

.bi-person-circle {
    font-size: 4em;
    color: #303f50;
}

/* POPUP */
.PopUp {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    width: 100%;
    height: 100% !important;
    padding: 3em;
    max-height: 100% !important;
    background: rgba(0, 0, 0, 0.705);
    font-size: 1.2em;
    padding-top: 1em;
}


.d-block {
    display: block;
}

.popArticle {
    background: #ffff;
    border: 5px solid #24334333;
    width: 80%;
    padding: 0.5em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    animation: pop 0.3s normal forwards;

}

@keyframes pop {
    0% {
        scale: 0.5;
    }

    100% {
        scale: 1;
    }
}

.bi-check-circle {
    color: rgb(0, 162, 0);
    font-size: 2.7em;
}

.popArticle article:nth-child(1) {
    font-size: 1.7em;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}

.popArticle article:nth-child(2) {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: #d2dce782; */
    margin: 0 auto;
    padding: 0.5em;
    width: 45vw;
    text-align: center;
    line-height: 2em;
}

.popArticle article:nth-child(3) {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background: #d2dce782;
    margin: 0 auto;
    padding-inline: 0.5em;
    padding-bottom: 0.3em;
    text-align: center;
    line-height: 2em;
    font-size: 1.5em;
    width: 100%;
    padding: 0.5em;
}

.popArticle article:nth-child(3) p u {
    text-underline-offset: 4px;
    font-weight: 500;
    text-transform: capitalize;
}

.popArticle article:nth-child(4) {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5em;
    margin-top: 2em;
}

#nomDuPerson {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-inline: 0.5em;
}

#prixDuToto{
    font-weight: 600;
    margin-inline-start: 0.5em;
}

.bi-x{
    position: absolute;
    font-size: 1em;
    background: #ebebeb;
    padding-inline: 0.2em;
    border-radius: 50%;
    right: 0;
    top: 0;
    cursor: pointer;
    margin: 0.3em;
    transition: 0.1s;
}
.bi-x:hover{
    background: #d5d5d5;
}